{% extends 'base.html' %}
{% load static %}

{% block title %}new_review{% endblock %}

{% block head_css %}
<link rel="stylesheet" href="">
<link rel="stylesheet" href="{% static 'litreview/styles.css' %}">
{% endblock %}

{% block content %}
    <section class="new-ticket-main">
        <div class="new-ticket-section">
            <h2>Modifier votre ticket</h2>
            <form method="post" enctype="multipart/form-data" class="new-ticket-form">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Enregistrer"/>
            </form>
        </div>
        
    </section>
{% endblock %}
