{% extends 'base.html' %}
{% load static %}

{% block title %}new_ticket{% endblock %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'litreview/styles.css' %}">
{% endblock %}

{% block content %}
<section class="new-ticket-main">
    <div class="new-ticket-section">
        <form action="" method="POST" enctype="multipart/form-data" class="new-ticket-form">
            {% csrf_token %}
            <div class="new-ticket-title">
                <p>Créer un ticket</p>
            </div>
            {{ form.as_p }}
            <input type="submit" value="Envoyer"/>
        </form>
    </div>   
</section>
{% endblock %}