{% extends 'base.html' %}
{% load static %}

{% block title %}new_review{% endblock %}

{% block head_css %}
<!-- <link rel="stylesheet" href="{% static 'activity/new_review.css' %}"> -->
{% endblock %}

{% block content %}
    <main>
        <section class="border_base">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <p>Critique</p>
                <div>
                    {{form.as_p}}
                    <input class="send_button_b" type="submit" value="Créer une critique"/>
                </div>
            </form>
        </section>
        
    </main>
    
{% endblock %} 