{% extends 'base.html' %}

{% block content %}
<section class="new_ticket_and_new_review_section">
    <h2>Créer une critique</h2>
    <form method="POST" enctype="multipart/form-data">
        <div class="new_ticket_and_new_review_group">
            {% csrf_token %}
            <div class="new_ticket_and_new_review_border">
                <div class="new_ticket_and_new_review_position_element">
                    <p>Livre / Article</p>
                </div>
                <div class="new_ticket_and_new_review_position_element">
                    {{ ticket_form.as_p }}
                </div>
                
            </div>
            <div class="new_ticket_and_new_review_border">
                <p class="new_ticket_and_new_review_position_element">Critique</p>
                <div class="new_ticket_and_new_review_position_element">{{ review_form.as_p }}</div>
                <input type="submit" value="Envoyer">
            </div>
        </div>
        
    </form>
</section>
{% endblock %}