{% extends 'base.html' %}
{% load model_name %}
{% load static %}

{% block title %}My posts{% endblock %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'activity/styles.css' %}">
{% endblock %}
{% block content %}
<main>
    <h2>Mes posts</h2>
    <div>
        <a href="{% url 'create_ticket' %}" class="btn">Créer un ticket</a>
    </div>
    <div>
        <a href="{% url 'create_ticket_and_review' %}" class="btn">Créer une critique</a>
    </div>
    {% for post in posts_items %}
        <div>
            {% if post|model_name == 'ticket' %}
                <h3>[TICKET] {{ post.title }}</h3>
                <p>{{ post.description }}</p>
                <p>Posté par : {{ post.user.username }}</p>
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="Image du ticket">
                {% endif %}
                <a href="{% url 'create_review' post.id %}">Répondre à ce ticket</a>
                {% if post.user == request.user %}
                    <a href="{% url 'edit_ticket' post.id %}">Modifier</a>
                    <a href="{% url 'delete_ticket' post.id %}">Supprimer</a>
                {% endif %}

            {% elif post|model_name == 'review' %}
                <div class="review-block">
                    <p>Vous avez publié une critique</p>
                    <h3>{{ post.headline }} -
                        {% for i in "12345"|slice:":post.rating"|make_list %}
                            ★
                        {% endfor %}
                    </h3>
                    <p>{{ post.body }}</p>
                    <small>{{ post.time_created|date:"H:i, d F Y" }}</small>

                    <div class="ticket-preview">
                        <p><strong>Ticket - {{ post.ticket.user.username }}</strong></p>
                        <p>{{ post.ticket.title }} - {{ post.ticket.description }}</p>
                        {% if post.ticket.image %}
                            <img src="{{ post.ticket.image.url }}" alt="image du ticket" style="max-width: 200px;">
                        {% endif %}
                    </div>

                    {% if post.user == request.user %}
                        <a href="{% url 'edit_review' post.id %}">Modifier</a>
                        <a href="{% url 'delete_review' post.id %}">Supprimer</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endfor %}

</main>

{% endblock %}

