{% load static %}
<!DOCTYPE html>

{% block head_css %}
<link rel="stylesheet" href="{% static 'litreview/styles.css' %}">
{% endblock %}

<html lang="fr">
    <head>
        <title>{% block title %}Authentification{% endblock %}</title>
        <meta charset="utf-8">
    </head>
    {% block content %}
        <main class="login_page">
            <div class="authentification_signup">
                <p class="signup-link">Inscrivez-vous maintenant</p>
                <a href="{% url 'signUp' %}" style="text-align: center;">S'inscrire</a>
            </div>
            
            <div class="authentification_signin">
                <form method="POST" class="login-form"> 
                    <p class="signup-link">Connectez-vous</p>
                    {% csrf_token %}
                    {{ form.as_div }}
                    <button type="submit" class="btn">Se connecter</button>
                    <p class="login-message">{{ message }}</p>
                </form>
            </div>
            
        </main>
    {% endblock %}
</html>
