{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'litreview/styles.css' %}">
<html lang="fr">
    <head>
        <title>{% block title %}Registration{% endblock %}</title>
        <meta charset="utf-8">
    </head>
    <body>
        {% block content %}
            <h2>Inscrivez-vous</h2>
            <form class="registration_position" method="POST"> 
                {% csrf_token %}
                {{form.as_div}}
                <button type="submit">S'incrire</button>    
            </form>
            
        {% endblock %}
    </body>
</html>